<ion-view title="About" id="page21" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="page-content" style="text-align:center">
            <img src="img/logo.png"></img>
            <br/>
            <span>Daily Torah. Delivered!</span>
            <div class="clear"></div>
            <div style="text-align:center">
                <p>Version 1.0</p>
                <br/>
                <p>In Gratitude to Hashem</p>
                <strong><p>Robbi Roberto &amp; Margie Szerer</p></strong>
            </div>
            <div style="text-align:center">
                @ Chayenu Inc.
            </div>
        </div>
    </ion-content>
</ion-view>




